.module_2{
	background-color: gainsboro;
	width: 1350px;
	height: 1200px;
}
.module_2_top{
	padding-top: 30px;
	height: 100px;
}
.module_2_top_left{
	margin-left: 80px;
	font-size: 20px;
}
.module_2_top_nav{
	width: 469px;
	height: 13px;
	margin-left: 780px;
	position: relative;
}
ul{
	display: flex;
}
li{
	font-size: 12px;
	padding-right: 30px;
	list-style: none;
	cursor: pointer;
	z-index: 999999;
}
#huakuai{
	width: 55px;
    height: 3px;
    left: 40px;
    position: absolute;
    transition: all .3s linear;
    top: 20px;
	background-color: darkgrey;
}
.lunbotu{
	width: 559px;
	height: 287px;
	margin-left: 100px;
	background-color: #FFFFFF;
	position: relative;
}
#lunboImg img{
	width: 539px;
	height: 267px;
	margin-left: 10px;
	margin-top: 10px;
}
.left_right_button span{
	width: 24px;
	height: 24px;
	left: 5px;
	top: 50%;
	margin-top: -20px;
	background: #fff;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	font-family: "黑体";
	font-size: 18px;
	color: #000;
	border: 1px solid #fff;
	opacity: 0.5;
	cursor: pointer;
	position: absolute;
}
.left_right_button #right{
	right: 8px;
	left: auto;
}
.behind{
	position: absolute;
    height: 10px;
    right: 50px;
    bottom: 4px;
    text-align: center;
    padding: 2px;
}
.behind li{
	display: inline-block;
    width: 1px;
    height: 10px;
    line-height: 10px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
}
.support{
	width: 560px;
	height: 288px;
	background-color: #FFFFFF;
	float: right;
	margin-top: -290px;
	margin-right: 110px;
}
.echart{
	width: 1320px;
	height: 350px;
}
#quxian{
	background-color: #FFFFFF;
	margin-top: 19px;
	width: 1140px;
	height: 349px;
	margin-left: 100px;
}
#bingzhuang{
	margin-top: 12px;
	background-color: #FFFFFF;
	width: 560px;
	height: 377px;
	margin-left: 100px;
}
#zhuzhuang{
	background-color: #FFFFFF;
	margin-top: -350px;
	width: 560px;
	height: 377px;
	float: right;
	margin-right: 81px;
}
